body {
  background-color: #f5cf84;
  color: #000000;
  font-family: Bradley Hand ITC;
  line-height: 1.6;
  margin: 20px;
  padding: 10px;
  font-size: 1.3em;
  text-align: center;
}

.row {
  display: flex;
  gap: 20px; 
}

.column {
  flex: 1; 
  padding: 15px;
  border: 1px solid #ccc;
}

h1 {
  color: #000000;
  font-size: 4em;
  margin-top: 20px;
  margin-bottom: 10px;
  padding-bottom: 5px;
  text-align: center;
}

h2 {
  color: #000000;
  font-size: 2em;
  margin-top: 20px;
  margin-bottom: 10px;
  padding-bottom: 5px;
  text-align: left;
}

p {
  font-size: 1.7em;
  color: #000000;
  font-weight: bold;
  text-align: center;
}

ul {
  align-self: flex-start;
  text-align: left;
  font-size: 1.3em;
  margin-left: 20px;
  line-height: 1.8em;
}

ol {
  align-self: flex-start;
  text-align: left;
  font-size: 1.3em;
  margin-left: 20px;
line-height: 1.3;
}
